<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#a0bbff">
  </head>
  <body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <a href="/">
          <img src="/assets/img/coffee-bean.svg" alt="a seed" style="width:1.5em;">
          Seed
        </a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">
          Lions
          <img src="/assets/img/lion-2.svg" alt="a lion" style="width:2em;">
        </a>
        <ul class="menu vertical">
          {% for post in site.categories.lions %}
          <li>
            <a href="{{ post.url }}">
              <span style="font-size:0.7em;">week</span>
              {{ post.categories[2] | remove: "week-" }}
              |
              <span style="font-size:0.7em;">
              {{ post.title | slice: 0, 3 }}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="#">
          Koalas
          <img src="/assets/img/koala-2.svg" alt="a koala" style="width:2em;">
        </a>
        <ul class="menu vertical">
          {% for post in site.categories.koalas %}
          <li>
            <a href="{{ post.url }}">
              <span style="font-size:0.7em;">week</span>
              {{ post.categories[2] | remove: "week-" }}
              |
              <span style="font-size:0.7em;">
              {{ post.title | slice: 0, 3 }}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div>

    {{ content }}

    <script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
