---
layout: default
---

<div class="row">
  <div class="large-12 columns">
    <h1>Fall 2016 Semester</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>Calendar</h3>

      <table>
        <thead>
          <tr>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
          </tr>
        </thead>
        <tbody>
          {% for week in site.data.calendar %}
            {% if week.headline.monthly %}
              <tr>
                  <td colspan="7">
                      <span>{{ week.headline.monthly }}</span>
                  </td>
              </tr>
            {% endif %}
            {% if week.headline.for-the-week %}
              <tr>
                  <td colspan="7">
                    <span class="headline-for-the-week">
                      {{ week.headline.for-the-week }}
                    </span>
                  </td>
              </tr>
            {% endif %}
            <tr class="dates">
                <td>
                  <div>
                    {{ week.day.Monday.date | date: "%d" }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Tuesday.date | date: "%d" }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Wednesday.date | date: "%d" }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Thursday.date | date: "%d" }}
                  </div>
                </td>
                <td>
                  <div>
                      <a href="">
                      </a>
                    {{ week.day.Friday.date | date: "%d" }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Saturday.date | date: "%d" }}
                  </div>
                </td>
            </tr>
            <tr class="events">
                <td>
                  <div>
                    {{ week.day.Monday.event }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Tuesday.event }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Wednesday.event }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Thursday.event }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Friday.event }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ week.day.Saturday.event }}
                  </div>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

